/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5rem; }

/*=============== HEADER ===============*/
.logo {
  position: fixed;
  top: .5rem;
  right: 2%;
  width: 15%;
  z-index: 5; }

.logo img {
  width: 100%; }

#menuIcon {
  cursor: pointer;
  position: fixed;
  cursor: pointer;
  top: 1.5em;
  left: 1.5rem;
  z-index: 5; }

#menuIcon .wrapper {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 5; }

#menuIcon span {
  width: 20px;
  height: 20px;
  background-color: #4b59b6;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1.5s;
  animation: icon-pulse 1.5s linear infinite; }

@keyframes icon-pulse {
  0% {
    opacity: 0.2; }
  25% {
    opacity: 0.3; }
  50% {
    opacity: 0.4; }
  75% {
    opacity: 0.3; }
  100% {
    opacity: 0.2;
    width: 80px;
    height: 80px; } }
#menuIcon span.expand {
  background-color: transparent; }

#menuIcon div, #menuIcon div::before, #menuIcon div::after {
  width: 1.6rem;
  height: .2rem;
  background-color: #ad1d33;
  z-index: 5;
  border-radius: 5px;
  position: absolute;
  margin-top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  transition: all 0.5s ease; }

#menuIcon div::after {
  margin-top: 0.5rem; }

#menuIcon div::before {
  margin-top: -0.5rem; }

#menuIcon.expand div {
  background-color: transparent; }

#menuIcon.expand div::before,
#menuIcon.expand div::after {
  background-color: #ad1d33;
  margin-top: 0; }

#menuIcon.expand div:after {
  transform: rotate(45deg); }

#menuIcon.expand div::before {
  transform: rotate(-45deg); }

/*=========================MENU BAR ====================*/
.menuBar-big {
  display: none; }

.menuBar-small .mainList {
  position: fixed;
  padding: 2rem 1rem 1rem;
  width: 90%;
  left: -90%;
  transition: 0.5s ease;
  background-color: #4b59b6;
  color: white;
  z-index: 2; }

.mainList li {
  padding: .6rem; }

.menuBar-small .mainList.expand {
  left: 0; }

.classesIcon {
  margin-left: 5%;
  cursor: pointer;
  color: #ad1d33;
  font-size: 1rem;
  transition: .3s ease-in-out; }

.classesIcon.expand {
  transform: rotate(180deg); }

.classesMenu {
  overflow: hidden;
  height: 0;
  transition: 1s ease;
  margin-top: .5rem;
  margin-left: 2%;
  background-color: #5663ba; }

.classesMenu.expand {
  overflow: visible;
  height: 100%; }

/*====================BANNER=====================*/
.banner {
  height: 200px;
  width: 100%;
  position: relative; }
  .banner .greeting {
    position: absolute;
    width: 90%;
    top: 200px;
    left: -500px;
    color: white;
    border-radius: 15px 0 15px 0;
    transform: translate(-10%, -50%);
    background-color: rgba(173, 29, 51, 0.9);
    padding: .5rem;
    animation: flyIn 2s cubic-bezier(0.5, 0.5, 0, 1) forwards;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.8); }

@keyframes flyIn {
  100% {
    left: 15%; } }
.banner .greeting h1 {
  font-size: 1.5rem; }

.banner::after {
  content: '';
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  animation-name: zoomIn;
  animation-delay: 10ms;
  animation-duration: 60s;
  animation-iteration-count: infinite; }

@keyframes zoomIn {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }
/*==================content============*/
.content {
  margin: 3rem auto;
  width: 90%;
  color: #4b59b6;
  font-size: 1rem; }

.content figure img {
  width: 100%; }

.content h1 {
  width: 80%;
  color: #ad1d33;
  font-size: 1.5rem;
  text-align: right;
  text-align: center;
  margin: 1rem auto;
  letter-spacing: .1rem;
  display: inline-block;
  padding: .5rem;
  border-radius: 0px 0 5px 5px;
  border-bottom: solid #4b59b6 2px; }

.content div {
  text-align: center;
  margin: 1rem auto; }

.content div p {
  margin: .5rem 0; }

.founder figure {
  width: 80%;
  margin: 1rem auto; }

.founder img {
  border-radius: 50%;
  border: 2px dashed #ad1d33; }

/*=================CLASSES============*/
.classes .lesson {
  width: 90%;
  margin: 1rem auto 3rem auto; }

.lesson figure {
  width: 100%; }

.lesson figure img {
  width: 100%; }

.classes .lesson h3 {
  font-size: 1.2rem; }

/*end media query*/
/*end media query*/
