/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5rem; }

/*=============== HEADER ===============*/
.logo {
  position: fixed;
  top: 0.5rem;
  right: 2%;
  width: 15%;
  z-index: 5; }

.logo img {
  width: 100%; }

#menuIcon {
  cursor: pointer;
  position: fixed;
  cursor: pointer;
  top: 1.5em;
  left: 1.5rem;
  z-index: 5; }

#menuIcon .wrapper {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 5; }

#menuIcon span {
  width: 20px;
  height: 20px;
  background-color: #4b59b6;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1.5s;
  animation: icon-pulse 1.5s linear infinite; }

@keyframes icon-pulse {
  0% {
    opacity: 0.2; }
  25% {
    opacity: 0.3; }
  50% {
    opacity: 0.4; }
  75% {
    opacity: 0.3; }
  100% {
    opacity: 0.2;
    width: 80px;
    height: 80px; } }
#menuIcon span.expand {
  background-color: transparent;
  animation: none; }

#menuIcon.expand .wrapper {
  background-color: #4b59b6;
  width: 12rem;
  padding-top: 2rem;
  border-radius: 0; }

#menuIcon div,
#menuIcon div::before,
#menuIcon div::after {
  width: 1.6rem;
  height: 0.2rem;
  background-color: #ad1d33;
  z-index: 5;
  border-radius: 5px;
  position: absolute;
  margin-top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  transition: all 0.5s ease; }

#menuIcon div::after {
  margin-top: 0.5rem; }

#menuIcon div::before {
  margin-top: -0.5rem; }

#menuIcon.expand div {
  background-color: transparent; }

#menuIcon.expand div::before,
#menuIcon.expand div::after {
  background-color: #ad1d33;
  margin-top: 0; }

#menuIcon.expand div:after {
  transform: rotate(45deg); }

#menuIcon.expand div::before {
  transform: rotate(-45deg); }

/*=========================MENU BAR ====================*/
.menuBar-big {
  display: none; }

.menuBar-small .mainList {
  position: fixed;
  padding: 3rem 1rem 1rem;
  width: 90%;
  overflow-y: scroll;
  left: -90%;
  transition: 0.5s ease;
  height: 100vh;
  background-color: #4b59b6;
  color: white;
  z-index: 2; }

.menuBar-small .mainList::-webkit-scrollbar {
  width: 2px; }

.menuBar-big .mainList a {
  text-decoration: none;
  color: #4b59b6; }

.menuBar-small .mainList a {
  text-decoration: none;
  color: white; }

.mainList li {
  padding: 0.3rem; }

.menuBar-small .mainList.expand {
  left: 0; }

.classesIcon {
  margin-left: 5%;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  transition: 0.3s ease-in-out; }

.classesIcon.expand {
  transform: rotate(180deg); }

.classesMenu {
  overflow: hidden;
  height: 0;
  transition: 1s ease;
  margin-top: 0.5rem;
  margin-left: 2%;
  background-color: #5663ba; }

.classesMenu.expand {
  overflow: visible;
  height: 100%; }

/*====================BANNER=====================*/
.banner {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden; }

.greeting {
  position: absolute;
  width: 90%;
  top: 300px;
  left: -500px;
  color: white;
  border-radius: 15px 0 15px 0;
  transform: translate(-10%, -50%);
  background-color: rgba(173, 29, 51, 0.9);
  padding: 0.5rem;
  animation: flyIn 2s cubic-bezier(0.5, 0.5, 0, 1) forwards;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.8); }

@keyframes flyIn {
  100% {
    left: 15%; } }
.banner .greeting h1 {
  font-size: 1.7rem; }

.banner::after {
  content: "";
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  animation-name: zoomIn;
  animation-delay: 10ms;
  animation-duration: 60s;
  animation-iteration-count: infinite; }

@keyframes zoomIn {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }
/*==================content============*/
.content {
  margin: 3rem auto;
  width: 90%;
  color: #4b59b6;
  font-size: 1.1rem; }

.content figure img {
  width: 100%; }

.content h1 {
  width: 80%;
  color: #ad1d33;
  font-size: 1.5rem;
  text-align: right;
  text-align: center;
  margin: 1rem auto;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 0.5rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-style: solid;
  border-bottom-color: #4b59b6;
  border-bottom-width: 2px; }

.content div {
  text-align: center;
  margin: 1rem auto; }

.content div p {
  margin: 0.5rem 0; }

.aboutUs {
  margin-top: 50px; }

.aboutUs div {
  margin-top: 0; }

.founder figure {
  width: 80%;
  margin: 1rem auto; }

.founder img {
  border-radius: 50%;
  border: 2px dashed #ad1d33; }

.crowdFunding {
  width: 95%;
  margin: 3rem auto 0;
  background-color: #ad1d33;
  color: white;
  padding: 0.5rem;
  text-align: center; }

.crowdFunding a {
  color: white; }

/*=================CLASSES============*/
.classes ul.timeTable {
  display: flex;
  align-items: center;
  justify-content: space-around; }
.classes .timeTable li {
  list-style: none; }

.classes .lesson {
  width: 90%;
  margin: 1rem auto 3rem auto; }

.lesson-img-wrapper {
  width: 80%;
  margin: 0 auto; }

.lesson figure img {
  width: 100%; }

.classes .lesson h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  color: #ec2b48; }

.classes .lesson a {
  color: #ec2b48;
  text-decoration: none; }

/*==================CONTACT============*/
.contact div {
  margin: 1rem auto; }

.contact div h3 {
  font-size: 1.3rem;
  padding: 0.5rem 0 1rem;
  color: purple; }

.contact .media ul {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.contact .media ul a {
  text-decoration: none;
  color: #4b59b6; }

.contact ul li {
  list-style: none; }

.contact .media ul li i {
  font-size: 2rem; }

#map {
  height: 300px; }

/*------------------Footer---------------*/
footer {
  margin-left: 2%;
  font-size: 0.8rem; }
  footer ul li {
    list-style: none; }
  footer .developer {
    font-size: 0.7rem;
    color: silver; }

/*=================ABOUT US PAGE=================*/
.aboutUs ul li {
  list-style: none; }

.aboutUs h3,
.events h3 {
  color: #ad1d33;
  font-size: 1.3rem;
  text-align: center;
  margin: 2rem auto 0.5rem auto; }

.aboutUs .purposes ul li {
  text-align: left;
  margin: 0.5rem 0 0.5rem; }

.aboutUs .purposes ul li::before {
  content: "\f559";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ad1d33;
  font-size: 1.2rem;
  padding-right: 4%; }

.aboutUs .open-time p {
  text-align: left; }

.aboutUs .open-time p i {
  margin-right: 1rem;
  color: #ad1d33; }

.partnerships ul li {
  position: relative;
  margin: 1rem auto; }

.partnerships figure {
  width: 50%;
  margin: 0.5rem auto; }

.partnerships figcaption {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 180%;
  transform: translate(0, -50%);
  background-color: #949cd3d8;
  border-radius: 20px;
  padding: 0.3rem;
  color: white;
  animation: flyRight;
  animation-duration: 0.9s;
  animation-fill-mode: both; }

@keyframes flyRight {
  100% {
    left: 50%;
    transform: translateX(-50%); } }
.event-name .event-read-btn {
  font-size: 1.5rem;
  transition: 0.2s ease-in-out; }

.event-name .event-read-btn.rotate {
  transform: rotate(180deg); }

.event-container .event-detail {
  overflow: hidden;
  height: 0;
  transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

.event-container .event-detail.expand {
  height: 100%;
  margin-bottom: 1rem; }

.event-container .event-detail div {
  width: 90%;
  margin: 0.3rem auto;
  text-align: center;
  font-size: 0.85rem;
  border-top: 1px dashed;
  padding-top: 0.2rem; }

.event-list .event-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "date name name" "info info info";
  align-items: center;
  border-top: 1px solid #d3d3d3;
  padding-top: 1rem; }

.event-list .event-date {
  grid-area: date; }
  .event-list .event-date li {
    list-style: none; }

.event-list .event-name {
  grid-area: name;
  font-size: 1.2rem;
  color: #ad1d33; }

.event-list .event-detail {
  grid-area: info; }

.event-list .event-read-btn {
  margin-left: 1rem; }

/*========================TESTIMONIALS===============*/
.review-wrapper {
  margin: 1rem auto;
  border: 1px solid #d3d3d3;
  padding: 0.5rem;
  box-shadow: 3px 3px 3px rgba(187, 186, 186, 0.8); }

.reviewer-info {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 90%;
  margin: 0 auto;
  align-items: center; }

.reviewer-name {
  font-size: 1.5rem;
  justify-self: start; }

.reviewer-img {
  width: 50%;
  justify-self: center; }

.reviewer-img img {
  width: 100%; }

#testimonials-list .review-msg {
  font-size: 0.8rem;
  line-height: 0.9rem;
  text-align: justify;
  width: 90%;
  margin: 0 auto; }

@media only screen and (min-width: 560px) {
  .logo {
    width: 10%; }

  .content {
    color: purple; }

  .content h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem; }

  .banner {
    min-height: 400px;
    max-height: 100%; }

  .greeting {
    top: 400px; }

  .greeting h1 {
    font-size: 1.5rem;
    letter-spacing: 2px; }

  .greeting h3 {
    font-size: 1.5rem; }

  .crowdFunding {
    width: 80%; }

  .founder .crowdFunding {
    margin-bottom: 2rem; }

  .home .founder .wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center; }

  .home .founder figure {
    min-width: 60%;
    max-width: 70%;
    justify-self: center; }

  .classes .lesson h3 {
    letter-spacing: 0;
    font-size: 1.5rem; }

  .classes .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  .lesson-img-wrapper {
    width: 70%; }

  footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  footer ul li:nth-child(2) {
    margin-right: 2%;
    text-align: right; }

  /*ABOUT HTML*/
  .partnerships-img-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center; }

  .aboutUs .open-time {
    margin-left: 1rem; }

  .aboutUs .open-time {
    width: 80%;
    margin: 0 auto; }

  .aboutUs .purposes ul {
    width: 80%;
    margin: 0 auto; }

  /*FOUNDER PAGE*/
  .founder .founder-wrapper {
    position: relative; }

  .founder .founder-wrapper .img-wrapper {
    float: left;
    top: 0;
    left: 0;
    width: 30%;
    margin: 1rem; }

  .founder .founder-wrapper .founder-history {
    width: 90%;
    margin: 0 auto;
    text-align: left; }
    .founder .founder-wrapper .founder-history p {
      padding: 0.5rem; }

  .review-wrapper {
    display: grid;
    padding: 1rem 0.5rem;
    grid-template-columns: 30% 70%;
    align-items: start; } }
/*end media query*/
@media only screen and (min-width: 1140px) {
  .content {
    color: black; }

  .menuBar-small {
    display: none; }

  #menuIcon {
    display: none; }

  .menuBar-big {
    display: block;
    position: fixed;
    z-index: 2; }

  .menuBar-big .mainList {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    color: #4b59b6;
    height: 2rem; }

  .menuBar-big .mainList #classes {
    width: 5rem; }

  .menuBar-big .classesIcon {
    color: #ad1d33; }

  .menuBar-big .classesMenu {
    background-color: rgba(255, 255, 255, 0.8);
    width: 10rem; }

  .menuBar-big .classesMenu.expand {
    height: 13rem; }

  .crowdFunding {
    width: 70%;
    padding: 1rem; }

  .content h1 {
    width: 40%; }

  .home .founder .wrapper div {
    padding: 0.5rem; }

  .home .founder figure {
    min-width: 50%;
    max-width: 60%;
    margin: 1rem 0; }

  .content.aboutUs {
    width: 80%;
    margin: 0 auto; }

  .classes .wrapper {
    grid-template-columns: repeat(3, 1fr); }

  .lesson-img-wrapper {
    width: 60%; }

  footer .developer {
    text-align: right;
    margin-right: 2%; }

  .founder .founder-wrapper .img-wrapper {
    width: 20%; }

  .review-wrapper {
    width: 80%;
    margin: 0 auto; } }
/*end media query*/
