.content {
  color: black;
}
.menuBar-small {
  display: none;
}
#menuIcon {
  display: none;
}
.menuBar-big {
  display: block;
  position: fixed;
  z-index: 2;
}
.menuBar-big .mainList {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  color: $secondaryColor;
  height: 2rem;
}
.menuBar-big .mainList #classes {
  width: 5rem;
}
.menuBar-big .classesIcon {
  color: $primaryColor;
}
.menuBar-big .classesMenu {
  background-color: rgba(255, 255, 255, 0.8);
  width: 10rem;
}
.menuBar-big .classesMenu.expand {
  height: 13rem;
}
// .menuBar-big .classesMenu li{
//     width:10rem;
// }
.crowdFunding {
  width: 70%;
  padding: 1rem;
}
.content h1 {
  width: 40%;
}
.home .founder .wrapper div {
  padding: 0.5rem;
}
.home .founder figure {
  min-width: 50%;
  max-width: 60%;
  margin: 1rem 0;
}
.content.aboutUs {
  width: 80%;
  margin: 0 auto;
}
.classes .wrapper {
  grid-template-columns: repeat(3, 1fr);
}
.lesson-img-wrapper {
  width: 60%;
}
footer .developer {
  text-align: right;
  margin-right: 2%;
}
.founder .founder-wrapper .img-wrapper {
  width: 20%;
}

.review-wrapper {
  width: 80%;
  margin: 0 auto;
}
//EVENTS
.event-list .event-container {
  width: 75%;
}
.event-list .event-name {
  margin-left: 1rem;
}
//CLASS PAGES
.class-page {
  .class-info {
    grid-column-gap: 0;
    figure {
      width: 70%;
      margin: 0 auto;
    }
  }
  .teacher-profile {
    .teacher-pic {
      width: 10%;
    }
  }
}
/*=============photo-gallery============*/
.img-gallery {
  .album-container {
    .photo-wrapper {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
