.logo{
    width:10%;
}
.content{
    color: purple;
}
.content h1{
    font-size: 2rem;
    letter-spacing: .2rem;
}
.banner{
    min-height: 400px;
    max-height: 100%;
}
.greeting{
    top:400px;
}
.greeting h1{
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.greeting h3{
    font-size: 1.5rem;
}
.founder .wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
}
.founder figure{
    min-width: 60%;
    max-width:70%;
}
.classes .lesson h3{
    letter-spacing: 0;
    font-size: 1.5rem;
}
.classes .wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}

footer{
    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }
    ul li:nth-child(2){
        margin-right: 2%;
        text-align: right;
    }
}